<!-- The HTML5 Audio Tag used by the app -->
<audio id="player" preload="auto">
  <source id="playerSrc" type="audio/mpeg">
</audio>

<!-- Libraries -->
<script src="/js/libs/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/libs/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/js/libs/jquery.knob.min.js"></script>

<!-- AngularJS Services -->
<script src="/js/Services/Init.js"></script>
<script src="/js/Services/IoService.js"></script>
<script src="/js/Services/VariableService.js"></script>
<script src="/js/Services/PlayerService.js"></script>

<!-- Init the AngularJS App Module -->
<script src="/js/init.js"></script>

<!-- Get the AngularJS Controllers -->
<script src="/js/Controller/Controls.js"></script>
<script src="/js/Controller/Playlists.js"></script>
<script src="/js/Controller/Songs.js"></script>
<script src="/js/Controller/System.js"></script>