<div class="controls row" ng-controller="Controls">
    <div class="currentImage col-sm-4">
        <img src="/api/cover/{{currentSong._id}}" class="img-responsive" ng-show="currentSong.cover">
        <img src="/img/no-cover.jpg" class="img-responsive" ng-show="!currentSong.cover">
    </div>
    <div class="col-sm-8">
        <div class="currentInfo">
            <div class="error" ng-show="currentSong.error">{{currentSong.error}}</div>
            <div class="title"><span ng-show="currentSong.title">{{currentSong.title}}</span>&nbsp;</div>
            <div class="artist"><span ng-show="currentSong.artist">{{currentSong.artist}}</span>&nbsp;</div>
        </div>
        <div class="buttons">
            <a href="#" class="prev btn glyphicon glyphicon-step-backward disabled" ng-click="prev()"><span class="sr-only">Previous</span></a>
            <a href="#" class="play btn glyphicon disabled" ng-class="{'glyphicon-music':status=='stopped','glyphicon-play':status=='paused','glyphicon-pause':status=='playing'}" ng-click="playswitch()"><span class="sr-only">Play/Pause</span></a>
            <a href="#" class="next btn glyphicon glyphicon-step-forward disabled" ng-click="next()"><span class="sr-only">Next</span></a>
        </div>
    </div>
</div>